---
layout: default
---
<div id="home">
  <h2>Puzzles, Math Problems, and other fun things!</h2>
  <p></p>
  <ul class="project-euler">
    {% for post in site.categories.project_euler %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Blog Posts</h2>
  <ul class="posts">
    {% for post in site.categories.blog %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Recreating Games - Can I make a computer smarter than me?</h2>
  <ul class='projects'>
    <li><a href="https://hodrobond.github.io/learning2048/">This one time I made 2048 in React</a></li>
    <li><a href="https://hodrobond.github.io/react-tetris/">This other time I made Tetris in React</a></li>
  </ul>
</div>
